<pool type="{{ item.type}}">
  <name>{{ item.name }}</name>
  <source>
  </source>
  <target>
    <path>{{ item.path }}</path>
    <permissions>
      <mode>{{ item. mode }}</mode>
      <owner>{{ item.owner }}</owner>
      <group>{{ item. group }}</group>
    </permissions>
  </target>
</pool>
